/* VARIABLES */

:root{
  --main-text-color : #9597A5;
  --second-text-color : #2D314D;
  --link-active-color : #30C88F;
  --white-color : #fff;
  --main-link-bg-color : linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/public-sans-v13-latin-100.woff2") format("woff2"),
       url("../fonts/public-sans-v13-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/public-sans-v13-latin-500.woff2") format("woff2"), 
       url("../fonts/public-sans-v13-latin-500.woff") format("woff"); 
}

/* GENERAL */

html{
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* SITE- HEADER START */

.easybank-header{
  position: relative;
  z-index: 5;
  padding-top: 18px;
  background-color: #fff;
}

.site-header__inner{
  display: flex;
  align-items: flex-start;
}

.site-header__logo{
  margin-top: 15px;
  width: 139px;
  height: 20px;
}

.site-nav__list{
  padding-top: 14px;
  margin-left: 251px;
  margin-right: 226px;
  display: flex;
}

.site-nav__item:not(:last-child){
  margin-right: 30px;
}

.site-nav__link{
  display: inline-block;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: var(--main-text-color);
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease;
}

.site-nav__link:active{
  color: var(--second-text-color);
  border-color: #30CA83;
  transition: all 0.3s ease;
}

.request-link{
  display: inline-block;
  padding: 8px 36px 8px 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: var(--white-color);
  background-image: var(--main-link-bg-color);
  border-radius: 22px;
  transition: all 0.3s ease;
}

.request-link:active{
  opacity: 0.6;
  transition: all 0.3s ease;
}

/* SITE- HEADER FINISH */

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

/* hero section start */

.hero{
  padding: 170px 0;
  background-color: #FAFAFA;
  background-image: url("../images/hero-bg-desktop.svg");
  background-size: 1371px 956px;
  background-repeat: no-repeat;
  background-position: calc(50% + 581px) calc(50% - 76px);

}

.hero__inner{
  position: relative;
  display: flex;
}

.hero__info-box{
  width: 447px;
}

.hero__title{
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}

.hero__text{
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}

.hero__img{
  position: absolute;
  top: -92%;
  right: -24%;
  z-index: 3;
}
